@mixin box-sizing($type) {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
    box-sizing: $type;
}

@mixin clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    -o-appearance: $value;
    appearance: $value;
}

@mixin box-shadow($x, $y, $blur, $rgba) {
    -webkit-box-shadow: $x $y $blur $rgba;
    box-shadow: $x $y $blur $rgba;
}

@mixin flex-obj($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin fit-cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@mixin border-radius($value) {
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin transition($property, $duration, $curve) {
    -moz-transition: $property $duration $curve;
    -o-transition: $property $duration $curve;
    -webkit-transition: $property $duration $curve;
    transition: $property $duration $curve;
}

@mixin cancel-transition {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

//transform
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

@mixin transformStyle($style) {
    -webkit-transform-style: $style;
    transform-style: $style;
}

@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin rotateX($deg) {
    @include transform(rotateX(#{$deg}deg));
}

@mixin rotateY($deg) {
    @include transform(rotateY(#{$deg}deg));
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin scaleX($valueX) {
    @include transform(scale($valueX));
}

@mixin scaleY($valueY) {
    @include transform(scale($valueY));
}

@mixin scaleXY($valueX,$valueY) {
    @include transform(scale($valueX,$valueX));
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin translateX ($x) {
    @include transform(translateX($x));
}

@mixin translateY ($y) {
    @include transform(translateY($y));
}

@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transformOrigin($x,$y) {
    -moz-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    -webkit-transform-origin: $x $y;
    transform-origin: $x $y;
}

// ========== Media Queries ==========

//Large devices (laptops, 13 and up)
@mixin laptopsPC {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}