//color
$primary1: #009944;
$primary2: #3DB943;
$primary3: #E3E880;

$secondary1: #FF8228;
$secondary2: #FFC121;

$neutralTxt1: #17181A;
$neutralTxt2: #666E80;

$neutralBg1: #E1E2E6;
$neutralBg2: #F7F8FA;
$neutralBg3: #FFFFFF;

//category
$cate_food: #009944;
$cate_medical: #3DB943;
$cate_health: #E3E880;
$cate_furnishing: #FFF000;
$cate_appliances: #FFC121;
$cate_finance: #FF8228;
$cate_entertainment: #D2966A;
$cate_makeup: #D0BCAE;