@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';
@import 'mixin';
@import 'normalize';
@import 'layout';
@import 'button';

$path: '../images';

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.h1 {
	font-size: 62px;
	line-height: 1.5;
}

.h2 {
	font-size: 30px;
	line-height: 1.5;
}

.h3 {
	font-size: 22px;
	line-height: 1.6;
}

.h4 {
	font-size: 16px;
	line-height: 1.5;
}

.h5 {
	font-size: 14px;
	line-height: 1.5;
}

.page {
	scroll-behavior: smooth;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

.openMenu {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.kv {
	position: relative;

	&:before {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		min-height: 100%;
		z-index: 5;
	}

	&__content {
		display: flex;
	}
}

.owl-carousel,
.custom-control {
	min-height: auto;
	padding-left: 0;

	.owl-dots {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;

		.owl-dot {
			margin-right: 10px;
			width: 10px;
			height: 10px;
			background-color: transparent;
			border-radius: 50%;
			margin: 0 3px;
			border: 1px solid #000000;
			cursor: pointer;


			&.active {
				background-color: #000000;
			}

			&:last-child {
				margin-right: 0;
			}

			&:focus {
				outline: none;
			}
		}
	}

	.custom-navs {
		position: relative;

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			z-index: 99;
			margin-top: -5px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&:hover {
				outline: none;
			}
		}

		.owl-prev {
			left: 0;
			background-image: url('#{$path}/arrow-left.svg');
		}

		.owl-next {
			right: 0;
			background-image: url('#{$path}/arrow-right.svg');
		}
	}
}

.section {
	&--record {
		.container {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				display: block;
				background-image: url('#{$path}/img-bear_running.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		.recordList,
		.passList {
			@include list-reset;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.passPage {

			&__title {
				text-align: center;
				color: #000000;
			}

			&__content {
				margin-top: 25px;
			}
		}
	}

	&--tab {

        .tab-content {
			opacity: 0;
			visibility: hidden;
			@include transition(all, .5s, ease-in);

			&.fade {
				opacity: 1;
				visibility: visible;
			}
        }
	}

	&--ad {
		img {
			display: block;
			width: 100%;
		}
		.pc {
			width: 100%;
			max-width: 970px;
			margin: 0 auto;
		}
		.mb {
			width: 300px;
			margin: 0 auto;
			display: none;
		}
	}
}

//coming soon
.comingSoon {
	text-align: center;
	font-weight: 500;

	&__title {
		letter-spacing: normal;
	}

	&__date {
		font-weight: 22px;
		letter-spacing: 0.66px;
		text-indent: 0.66px;
	}
}

// index
.page--index {

	.kv {
		&:before {
			content: '';
			display: block;
			padding-top: 100vh;
			z-index: 1;
		}

		.topic {
			color: #FFFFFF;
			font-weight: bold;

			.line1 {
				display: flex;
				align-items: center;
			}
		}

		.subTitle {
			color: #FFFFFF;

			.line1 {
				width: 301px;
				height: 160px;

				img {
					width: 100%;
				}
			}

			.desc {
				font-size: 18px;
				font-weight: 500;
				line-height: 1.44;
			}
		}
	}

	.section {
		h2.title {
			.title__topic,
			.title__subTitle {
				color: $primary1;
			}

			.title__topic {
				font-weight: normal;
			}

			.title__subTitle {
				font-weight: 300;
			}
		}

		.intro {
			color: #000000;
			letter-spacing: normal;
			font-size: 18px;
			line-height: 1.75;

			.highlight {
				color: $primary1;
			}
		}

		ul.action {
			@include list-reset;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
			flex-wrap: nowrap;

			& > li {
				margin-right: 16px;
			}
		}

		&--flow {
			.news {
				margin-top: 100px;
			}
		}

		&--column {
			.section__content {
				position: relative;
			}

			.custom-control {
				.container {
					display: flex;
				}
			}
		}

		&--award {
			padding: 100px 0;

			.container {
				display: flex;
			}
		}

		&--brand {
			.section__content {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					z-index: -1;
					background-color: $primary3;
				}
			}

			.owl-carousel {
				.owl-dots {
					justify-content: center;
				}
			}

			&.is-comingsoon {
				padding-bottom: 0;

				.section__content {

					&:after {
						bottom: 0 !important;
						top: auto !important;
					}
				}
			}
		}
	}

	.bulletin {
		display: flex;

		&__image {
			img {
				width: 100%;
			}
		}
	}

	//最新消息
	.news {
		display: flex;

		&__title {
			display: flex;
			align-items: center;

			&:before {
				content: '';
				display: block;
				background-image: url('#{$path}/icon-news.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}

			.text {
				color: $neutralTxt1;
				font-size: 30px;
				line-height: 1.5;
			}
		}

		&__content {
			.newsList {
				@include list-reset;

				.newsList__item {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&__item {
					display: flex;

					.date {
						width: fit-content;
						font-size: 16px;
						line-height: 1.5;
						color: #333333;
						@include box-shadow(0, 1px, 0, rgba(51, 51, 51, 1))
					}

					.link {
						display: flex;
						color: #333333;
						align-items: center;
						@include transition(all, .3s, ease-in);

						&:after {
							content: '';
							display: block;
							width: 24px;
							height: 24px;
							margin-left: 10px;
							background-image: url('#{$path}/arrow-right_dark.svg');
							background-size: contain;
							background-repeat: no-repeat;
							background-position: right center;
							@include transition(all, .3s, ease-in);
						}
					}
				}
			}
		}
	}

	//名家專欄輪播
	.column-list {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			z-index: -1;
			background-color: $primary3;
		}

		.bx {
			position: relative;

			.clbimg {
				position: relative;
				left: 0;
				top: 0;

				a {
					display: block;
					width: 100%;
					height: 100%;
					position: relative;

					img {
						@include fit-cover;
					}
				}
			}

			.clbmain {
				width: 100%;

				.container {
					display: flex;
				}

				.tag {

					&__text {
						border-bottom: 1px solid $primary1;
						color: $primary1;
						font-size: 22px;
						line-height: 36px;
						display: inline-block;
					}
				}

				p {
					line-height: 1.5;
					color: #333333;
				}
			}
		}
	}

	//信賴品牌得獎公布
	.awardLinks {
		@include list-reset;
	}

	//信賴品牌共同宣誓
	.brand-list {

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			z-index: -1;
			background-color: $primary3;
		}

		.bx {
			position: relative;

			.inner {
				display: block;
				width: 100%;
				overflow: hidden;
			}

			.blimg {
				width: 100%;
				position: relative;

				&:before {
					content: '';
					display: block;
					padding-top: calc((265.76 / 350) * 100%);
				}

				.image {
					@include fit-cover;
				}
			}

			h4 {
				color: #000;
				@include transition(color, .3s, ease-in);
			}

			p {
				margin-top: 16px;
				font-size: 16px;
				line-height: normal;
				letter-spacing: 1.5px;
				color: #000;
			}
		}

		.owl-nav {
			width: 100%;


			.owl-prev,
			.owl-next {
				position: absolute;
				top: 30%;
				@include translateY(-30%);
				background-size: contain;

				&:hover {
					outline: none;
				}

			}

			.owl-prev {
				left: 0;
				background-image: url('#{$path}/arrow-left.svg');
			}

			.owl-next {
				right: 0;
				background-image: url('#{$path}/arrow-right.svg');
			}
		}
	}
}

//award
$category_color:
    "food" $cate_food #FFFFFF,
    "medical" $cate_medical #FFFFFF,
    "health" $cate_health $neutralTxt1,
    "furnishing" $cate_furnishing $neutralTxt1,
    "appliances" $cate_appliances $neutralTxt1,
    "finance" $cate_finance #FFFFFF,
    "entertainment" $cate_entertainment #FFFFFF,
    "makeup" $cate_makeup #FFFFFF;

$chartCate_color:
	"sex" #108593,
	"marriage" #FF9B53,
	"age" #D2966A,
	"child" #B5A092,
	"income" #3B90E5;

.page--award {
	.kv {
		&:before {
			content: '';
			display: block;
			z-index: 1;
		}

		&__content {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}

		.topic {
			color: #FFFFFF;
			font-weight: 500;
		}

		.img-trust {
			position: absolute;
			bottom: -60px;
			left: 50%;
			@include translateX(-50%);

			img {
				width: 100%;
			}
		}
	}

	.section {
		&--tab {
			padding-top: 100px;

			.notice {
				margin-top: 32px;

				p {
					font-size: 16px;
					letter-spacing: 1.6px;
					color: $neutralTxt2;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.tab-content {
		.title {
			text-align: center;
			font-size: 32px;
			line-height: 45px;
			letter-spacing: 1.61px;
			text-indent: 1.61px;
			font-weight: 500;
		}

		.award-notice {
			margin-top: 16px;

			p {
				text-align: center;
				font-size: 18px;
				line-height: 31.5px;
				font-weight: 300;

				.wordcr {
					margin-left: 3px;
					font-weight: bold;
				}
			}
		}

		.tb {
			dt,
			dd {
				span {
					display: inline-block;
					font-size: 16px;
					vertical-align: middle;
				}
			}

			.th {
				text-align: center;
				overflow: hidden;

				dt,
				dd {
					font-weight: 500;
				}
			}

			.td {

				dt {
					color: #333333;
					font-weight: bold;
				}
			}
		}
	}
}

.page--lottery {
	.kv {
		&:before {
			content: '';
			display: block;
			z-index: 1;
		}

		&__content {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}

		.topic {
			color: #FFFFFF;
			font-weight: 500;
		}
	}

	.section {

		&--prize {
			background-color: $neutralBg2;

			.section__content {
				position: relative;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				&:before {
					background-image: url('#{$path}/img-bear_notice.png');
				}

				&:after {
					background-image: url('#{$path}/img-bear_rush.png');
				}
			}
		}
	}

	.gift {

		&__paragraph {
			margin-bottom: 64px;

			.thanks {
				font-size: 22px;
				letter-spacing: 0.66px;
				line-height: 1.6;
				font-weight: 500;
				color: #000;
			}
		}

		&__rule {
			.rule {
				dl {
					display: flex;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				dt {
					font-weight: 500;
					font-size: 18px;
					line-height: 32px;
					color: #009944;
				}

				dd {
					flex: 1;
					font-weight: 300;
					font-size: 18px;
					line-height: 32px;
					color: $neutralTxt1;
				}
			}
		}
	}

	.prize {

		&__title {
			color: #009944;
			font-weight: 500;
			text-align: center;
		}

		&__list {
			.prizeList {
				width: 100%;
				@include list-reset;
				display: flex;
				flex-wrap: wrap;

				.prizeList__item {
					&--topL,
					&--topC,
					&--topR {
						text-align: center;

						.prizeItem__laureate {
							.label {
								margin-bottom: 6px;
							}
						}
					}

					&--normal {
						flex: 0 0 100%;

						.prizeItem__laureate {
							.label {
								margin-bottom: 32px;
							}
						}
					}
				}
			}
		}
	}

	.prizeItem {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&__image {
			width: 150px;
			height: 150px;
			margin-bottom: 20px;

			img {
				width: 100%;
			}
		}

		&__name {
			color: #000000;
			text-align: center;
			font-size: 22px;
			line-height: 1.7;
			font-weight: 500;
			letter-spacing: 1.1px;
			margin-bottom: 10px;
		}
		&__model {
			color: #000000;
			font-size: 16px;
			line-height: normal;
			letter-spacing: 1.6px;
		}
		&__price {
			color: #000000;
			font-size: 16px;
			line-height: normal;
			letter-spacing: 1.6px;
		}

		&__laureate {
			margin-top: 13px;

			.label {
				text-align: center;
				color: #009944;
				font-weight: bold;
			}

			.nameList {
				@include list-reset;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;

				& > li {
					color: #000000;
					font-size: 18px;
					line-height: 1.75;
					font-weight: 300;
					margin-bottom: 16px;

					&:last-child {
						margin-right: 0 !important;
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}

	.notice {
		p {
			font-size: 16px;
			line-height: normal;
			letter-spacing: 1.6px;
			color: #000000;

			a {
				color: #000000;
				text-decoration: underline;
			}
		}
	}
}

.page--survey {
	.kv {
		&:before {
			content: '';
			display: block;
			z-index: 1;
		}

		&__content {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}

		.topic {
			color: #FFFFFF;
			font-weight: 500;
		}
	}

	.section {

		&__title {
			h2.title {
				.title__topic,
				.title__subTitle {
					color: $primary1;
				}

				.title__topic {
					font-weight: normal;
				}

				.title__subTitle {
					font-weight: 300;
				}
			}

			.intro {
				color: #000000;
				letter-spacing: normal;
				font-size: 18px;
				line-height: 1.75;

				.highlight {
					color: $primary1;
				}
			}
		}

		&--cause {
			.section__title {
				display: flex;
			}

			.section__content {
				.surveyIntro {

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&--step {
			background-color: $neutralBg2;

			.section__title {
				text-align: center;
			}
		}

		&--tab {
			.section__title {
				text-align: center;
			}
		}
	}

	.survey-info {
		.td {
			display: flex;

			&:last-child {
				margin-bottom: 0;
			}

			dt {
				flex: 0 0 108px;
				font-size: 18px;
				line-height: 1.75;
				font-weight: 500;
				color: #009944;
			}

			dd {
				flex-grow: 1;
				font-size: 18px;
				line-height: 1.75;
				font-weight: 300;
				color: #000000;
			}
		}
	}

	.surveyIntro {
		display: flex;

		&__title {
			color: #3DB943;
			font-weight: 500;
		}

		&__content {
			p {
				color: #000000;
				margin-bottom: 24px;
				font-size: 18px;
				line-height: 1.75;
				font-weight: 300;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.flow {

		&__image {
			img {
				width: 100%;
			}
		}
		&__text {
			display: none;
		}
	}

	.chartNotice {
		dl {
			&:last-child {
				margin-bottom: 0;
			}

			dt,
			dd {
				font-size: 18px;
				line-height: 1.75;
			}
		}
	}

	.mixChart {
		border-bottom: 1px solid $neutralTxt2;
	}

	.chart {
		justify-content: center;

		.bx {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tab-view {
		background-color: #FFFFFF;
		position: relative;

		@each $chartCate, $chartColor in $chartCate_color {
			&.is-#{$chartCate} {

				.chartNotice {
					dl {
						dt {
							color: $chartColor;
						}
					}
				}
			}
		}
	}

	.bx {
		h5 {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.num {
				color: $neutralTxt1;
				font-family: "Noto Serif TC", serif;
			}

			.text {
				color: #000000;
				font-weight: 500;
				font-size: 22px;
				line-height: 1.6;
				letter-spacing: 0.66px;
			}
		}

		.chartouter {
			margin-top: 32px;

			width: 100%;

			.chart-more {
				@include list-reset;
				display: flex;
				align-items: center;
				flex-direction: row;
				flex-wrap: wrap;

				li {
					font-size: 18px;
					line-height: 1.44;
					letter-spacing: 1.6px;
					font-weight: 300;
					margin-right: 19px;
					margin-bottom: 8px;

					.font-hl {
						font-weight: bold;
						color: #ff8228;
					}
				}
			}

			.chart-notice {
				font-size: 18px;
				line-height: 1.75;
				letter-spacing: normal;
				font-weight: 300;

				.highlight {
					color: #ff8228;
					font-weight: bold;
				}
			}
		}
	}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Small devices (portrait phone)
@media only screen and (min-width: 320px) {



	.section {
		&--record {
			padding-top: 80px;
			padding-bottom: 120px;

			.container {
				&:after {
					width: 144px;
					height: 160px;
					bottom: -160px;
					left: 8px;
				}
			}

			.recordList {
				margin-bottom: 80px;
				flex-direction: column;
				flex-wrap: wrap;

				li {
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.passList {
				flex-wrap: wrap;

				li {
					margin: 0 15px 30px;
				}
			}
		}

		&--tab {
			.tab-select {
				position: relative;
				width: 100%;
			}

			.tab-header {
				background-color: #fff;
				border: 1px solid #98A1B3;
				padding: 11px 14px;
				border-radius: 4px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&.active {
					border: 1px solid $primary1;
				}
			}

			.arrow {
				width: 24px;
				height: 24px;
				background-image: url('#{$path}/arrow-dropdown.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				@include rotate(0);

				&.up {
					@include rotate(-180);
				}
			}

			.tab-options {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				background-color: #FFFFFF;
				border: 1px solid #E1E2E6;
				border-radius: 4px;
				margin-top: 4px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
				z-index: 1000;

				.tab-option {
					padding: 12px 40px 12px 16px;
					font-size: 16px;
					line-height: 1;
					position: relative;

					&.active {
						color: $primary1;

						&:after {
							content: '';
							display: block;
							position: absolute;
							width: 24px;
							height: 24px;
							right: 16px;
							top: 50%;
							@include translateY(-50%);
							background-image: url('#{$path}/deco-check.svg');
							background-size: 24px;
							background-repeat: no-repeat;
							background-position: center;
						}
					}
				}
			}
		}

		&--ad {
			.pc {
				display: none;
			}
			.mb {
				display: block;
			}
		}
	}

	.comingSoon {

		&__title {
			font-size: 40px;
			line-height: 1.45;
		}

		&__date {
			margin-top: 24px;
		}
	}

	.page--index {
		.kv {
			&:before {
				background-image: url('#{$path}/bg_banner-mb.jpg');
			}

			.container {

				&.is-pc {
					display: none;
				}

				&.is-mb {
					display: block;

					.topic {
						text-align: center;
						margin-top: 73px;

						.line1 {
							justify-content: center;
							font-size: 60px;
							font-weight: bold;
							line-height: 1.45;
						}

						.line2 {
							justify-content: center;
							font-size: 36px;
							font-weight: bold;
							line-height: 1.44;
							letter-spacing: 3.6px;
							text-indent: 3.6px;
						}
					}

					.img-trust {
						margin: 20px auto 10px;
						width: 180px;

						img {
							width: 100%;
							height: auto;
						}
					}

					.subTitle {
						.line1 {
							display: none;
						}

						.desc {
							text-align: center;
						}
					}
				}
			}

			&__content {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-top: 72px;
			}
		}

		.section {
			h2.title {
				.title__topic,
				.title__subTitle {
					font-size: 40px;
					line-height: normal;
				}
			}

			.intro {
				margin-top: 32px;
			}

			&--flow {
				padding-top: 80px;
				padding-bottom: 100px;
			}

			&--column {
				padding-bottom: 80px;

				.custom-control {
					margin-top: 64px;
					position: relative;
					width: 100%;
					z-index: 5;

					.container {
						justify-content: center;
					}
				}

				.custom-nav {
					width: 100%;
				}
			}

			&--award {
				.container {
					flex-direction: column;

					.section__content {
						margin-top: 32px;
					}
				}
			}

			&--brand {
				padding-bottom: 80px;

				.section__content {
					&:after {
						top: 80px;
						height: 100%;
					}
				}

				.owl-carousel {
					.owl-dots {
						margin-top: 55px;
					}
				}

				&.is-comingsoon {
					.section__content {
						padding: 60px 0;
					}
				}
			}
		}

		.bulletin {
			flex-direction: column;
			align-items: center;

			&__text {
				flex-grow: 1;
				margin-left: 0;

				ul.action {
					margin-top: 32px;
				}
			}

			&__image {
				margin-top: 40px;
				padding: 0 50px;
				flex: 0 0 100%;
			}
		}

		.news {
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;

			&__title {
				margin-bottom: 24px;
			}

			&__content {
				.newsList {
					&__item {
						flex-direction: column;
						flex-wrap: wrap;

						.date {
							margin-bottom: 8px;
						}
					}
				}
			}
		}

		.column-list {
			&:after {
				top: 80px;
				height: calc(100% + 64px);
			}

			.bx {
				.clbimg {
					padding: 0 20px;

					a {
						&:before {
							content: '';
							display: block;
							padding-top: calc((262 / 350) * 100%);
						}
					}
				}
				.clbmain {
					margin-top: 17px;

					p {
						font-size: 26px;
						min-height: 78px;
						margin-top: 17px;
						letter-spacing: normal;
						font-weight: normal;
					}

					.action {
						margin-top: 31px;
					}
				}
			}
		}

		.custom-control {
			.inner {
				width: 100%;
			}

			.custom-navs {
				.owl-prev,
				.owl-next {
					width: 40px;
					height: 40px;
				}
			}
		}

		.awardLinks {
			& > li {
				margin-bottom: 12px;
			}
		}

		.brand-list {
			.bx {
				h4 {
					margin-top: 24px;
					font-size: 26px;
					line-height: normal;
				}
			}

			.owl-nav {
				.owl-prev,
				.owl-next {
					width: 40px;
					height: 40px;
				}

				.owl-prev {
					left: -20px;
				}

				.owl-next {
					right: -20px;
				}
			}
		}
	}

	.page--award {
		padding-top: 70px;

		.kv {
			&:before {
				padding-top: 248px;
				background-image: url('#{$path}/kv-award_mb.jpg');
			}

			.topic {
				font-size: 40px;
				line-height: 1.5;
			}

			.img-trust {
				width: 165px;
				height: 128px;
			}
		}

		.section {
			&--tab {

				.tab-content {
					margin-top: 32px;
				}
			}
		}

		.tab-content {

			.tb {
				margin-top: 24px;

				.th {
					dt,
					dd {
						display: none;
					}
				}

				.td {
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 24px;
					flex-wrap: wrap;
					flex-direction: column;

					&:last-child {
						margin-bottom: 0;
					}

					dt {
						max-width: 100%;
						text-align: center;
						margin-bottom: 10px;
						border-radius: 20px;
						padding: 7px 10px 9px;

						span {
							line-height: 24px;
						}
					}

					dd {
						max-width: 100%;
						margin-bottom: 10px;
						padding: 0;

						span {
							line-height: 30px;
							font-weight: 300;
							color: #333333;
						}

						&:before {
							color: #000000;
							display: inline-block;
							vertical-align: middle;
							margin-right: 20px;
							font-weight: 500;
						}

						&:nth-child(2) {
							&:before {
								content: "NO.1";
							}
						}

						&:nth-child(3) {
							&:before {
								content: "NO.2";
							}
						}

						&:nth-child(4) {
							&:before {
								content: "NO.3";
							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}

			@each $category, $bgColor, $txtColor in $category_color {
				&.is-#{$category} {

					.tb {

						.td {
							dt {
								color: $txtColor;
								background-color: $bgColor;
							}
						}
					}
				}
			}
		}

		.comingSoon {
			margin: 80px 0 40px;
		}
	}

	.page--lottery {
		padding-top: 70px;

		.kv {
			&:before {
				padding-top: 248px;
				background-image: url('#{$path}/kv-lottery_mb.jpg');
			}

			.topic {
				font-size: 40px;
				line-height: 1.5;
			}
		}

		.section {

			&--lottery {
				padding-top: 80px;
				padding-bottom: 178px;
			}

			&--prize {
				padding: 56px 0;

				.section__content {
					&:before,
					&:after {
						width: 155px;
						height: 172px;
						top: -194px;
					}

					&:before {
						left: -8px;
					}

					&:after {
						right: -26px;
					}
				}

				.notice {
					margin-top: 40px;
				}
			}
		}

		.gift {
			&__paragraph {
				.thanks {
					text-align: left;
				}
			}

			&__rule {
				.rule {

					dl {
						flex-direction: column;
						flex-wrap: wrap;
					}

					dd {
						p {
							margin-bottom: 4px;
						}
					}
				}
			}
		}

		.prize {

			&__title {
				font-size: 40px;
				line-height: 58px;
				margin-bottom: 32px;
			}

			&__list {
				.prizeList {

					.prizeList__item {
						&--topL,
						&--topC,
						&--topR {
							padding: 32px 0;
							flex-grow: 0;
							flex-basis: 100%;
							border-bottom: 1px solid #009944;
						}

						&--normal {
							padding-top: 32px;
						}
					}
				}
			}
		}

		.prizeItem {

			&__laureate {
				.label {
					font-size: 18px;
				}

				.nameList {

					& > li {
						margin-right: 16px;

						&:nth-last-child(5),
						&:nth-last-child(4),
						&:nth-last-child(3),
						&:nth-last-child(2),
						&:nth-last-child(1) {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	.page--survey {
		padding-top: 70px;

		.kv {
			&:before {
				padding-top: 248px;
				background-image: url('#{$path}/kv-survey_mb.jpg');
			}

			.topic {
				font-size: 40px;
				line-height: 1.5;
			}
		}

		.section {
			&__title {
				h2.title {
					.title__topic,
					.title__subTitle {
						font-size: 40px;
						line-height: normal;
					}
				}

				.intro {
					margin-top: 26px;
				}
			}

			&--cause {
				padding-top: 80px;
				padding-bottom: 80px;

				.section__title {
					flex-direction: column;
					flex-wrap: wrap;
					margin-bottom: 40px;

					.title {
						text-align: center;
					}

					.survey-info {
						margin-top: 32px;
					}
				}

				.section__content {
					.surveyIntro {
						margin-bottom: 40px;
					}
				}
			}

			&--step {
				padding: 56px 0 66px;

				.section__title {
					margin-bottom: 32px;
				}
			}

			&--tab {
				padding-top: 85px;

				.section__title {
					margin-bottom: 34px;
				}
			}
		}

		.survey-info {
			.td {
				margin-bottom: 8px;

				dd {
					margin-left: 16px;
				}
			}
		}

		.surveyIntro {
			flex-direction: column;
			flex-wrap: wrap;

			&__title {
				font-size: 22px;
				line-height: 1.6;
				letter-spacing: 0.66px;
				margin-bottom: 24px;
			}
		}

		.flow {
			padding: 0 47px;

			&__image {
				.is-pc {
					display: none;
				}

				.is-mb {
					display: block;
				}
			}
		}

		.chartNotice {
			dl {
				margin-bottom: 24px;
			}
		}

		.mixChart {
			padding-bottom: 32px;

			.tab-view {
				margin-top: 36px;
			}
		}

		.chart {
			padding-top: 33px;

			.bx {
				margin-bottom: 56px;

				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}
		}

		.tab-view {

			.chartNotice {
				margin-top: 32px;
			}
		}

		.bx {
			h5 {
				align-items: flex-start;

				.num {
					font-weight: 300;
					font-size: 30px;
					line-height: 1.43;
					margin-right: 16px;
				}
			}

			.chartouter {

				.chart-more {
					margin-top: 24px;
				}

				.chart-notice {
					margin-top: 24px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.page--survey {

		.section {
			&--step {
				.section__title {
					margin-bottom: 48px;
				}
			}
		}

		.flow {

			&__image {
				.is-pc {
					display: block;
				}

				.is-mb {
					display: none;
				}
			}
		}

		.bx {
			h5 {
				align-items: center;

				.num {
					font-weight: 500;
					font-size: 80px;
					line-height: 1;
					margin-right: 25px;
				}
			}

			.chartouter {
				.chart-more {
					margin-top: 18px;
				}
				.chart-notice {
					margin-top: 18px;
				}
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.section {
		&--record {
			padding-top: 100px;
			padding-bottom: 100px;

			.container {
				&:after {
					bottom: -140px;
					width: 248px;
					height: 276px;
					left: -100px;
				}
			}

			.recordList {
				margin-bottom: 120px;
				flex-direction: row;
				flex-wrap: nowrap;

				li {
					margin-bottom: 0;
					margin-right: 16px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.passList {
				li {
					margin: 0 20px 0;
				}
			}
		}

		&--tab {
			.tab-select {
				position: relative;
				width: 100%;
			}

			.tab-header {
				display: none;
			}

			.arrow {
				width: 24px;
				height: 24px;
				background-image: url('#{$path}/arrow-dropdown.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 24px;
				@include rotate(0);

				&.up {
					@include rotate(-180);
				}
			}

			.tab-options {
				display: flex !important;;
				justify-content: center;
				flex-direction: row;
				flex-wrap: wrap;
				position: static;
				border: none;
				border-radius: 0;
				margin-top: 0;
				box-shadow: none;
				z-index: 0;
				background-color: transparent;

				.tab-option {
					margin: 0 8px 20px;
					border: 1px solid $neutralTxt2;
					background-color: #FFFFFF;
					word-break: keep-all;
					padding: 12px 23px;
					cursor: pointer;
					border-radius: 21px;
					@include transition(all, .3s, ease-in);
					box-shadow: 0 4px 8px rgba(0, 0, 0, .08);

					&:hover {
						opacity: 0.7;
					}

					&.active {
						&:hover {
							opacity: 1;
						}

						&:after {
							display: none;
						}
					}

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					@each $category, $bgColor, $txtColor in $category_color {
						&.is-#{$category} {
							&.active {
								color: $txtColor;
								background-color: $bgColor;
							}
						}
					}

					@each $chartCate, $chartColor in $chartCate_color {
						&.is-#{$chartCate} {
							&.active {
								color: #FFFFFF;
								background-color: $chartColor;
							}
						}
					}
				}
			}
		}

		&--ad {
			.pc {
				display: block;
			}
			.mb {
				display: none;
			}
		}
	}

	.comingSoon {

		&__title {
			font-size: 62px;
			line-height: 1.29;
		}

		&__date {
			margin-top: 32px;
		}
	}

	.page--index {
		.kv {
			&:before {
				background-image: url('#{$path}/bg_banner-landscape.jpg');
			}

			.container {
				&.is-pc {
					display: block;

					.topic {
						margin-top: 0;
						width: 223px;
						height: 160px;

						img {
							width: 100%;
						}
					}

					.img-trust {
						margin: 0 24px;
						width: calc(100% - 666px);
						display: flex;
						align-items: center;
						justify-content: center;

						&:before,
						&:after {
							content: '';
							display: block;
							width: 25%;
							height: 1px;
							background-color: $neutralBg3;
						}

						&:before {
							margin-right: 24px;
						}
						&:after {
							margin-left: 24px;
						}

						img {
							width: 223px;
							height: 172px;
						}
					}

					.subTitle {
						.desc {
							margin-top: 32px;
							text-align: right;
						}
					}
				}

				&.is-mb {
					display: none;
				}
			}

			&__content {
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-end;
				padding-top: 182px;
			}
		}

		.section {
			h2.title {
				.title__topic,
				.title__subTitle {
					font-size: 62px;
					line-height: 80px;
				}
			}

			.intro {
				margin-top: 48px;
			}

			&--flow {
				padding-top: 100px;
				padding-bottom: 100px;
			}

			&--column {
				padding-bottom: 64px;

				.custom-control {
					position: absolute;
					width: 100%;
					bottom: 0;
					z-index: 5;

					.container {
						justify-content: flex-end;
					}
				}
			}

			&--award {
				.container {
					flex-direction: row;
					justify-content: space-between;

					.section__title {
						flex: 0 0 535px;
					}

					.section__content {
						margin-top: 0;
						flex: 0 0 426px;
					}
				}
			}

			&--brand {

				.section__title {

					.titleWrap {
						display: flex;
						justify-content: space-between;
						align-items: center;
						position: relative;
						padding-left: 110px;
						padding-right: 50px;

						&:after {
							content: '';
							display: block;
							width: 356px;
							height: 241px;
							background-image: url('#{$path}/img-bear_keepit.png');
							background-size: 356px 396px;
							background-repeat: no-repeat;
							background-position: 0 0;
						}
					}
				}
				.section__contenet {

					&:after {
						top: 100px;
						height: 100%;
					}
				}

				.owl-carousel {
					.owl-dots {
						margin-top: 64px;
					}
				}
			}
		}

		.bulletin {
			flex-direction: row-reverse;
			align-items: center;

			&__text {
				flex-grow: 1;
				margin-left: 78px;

				ul.action {
					margin-top: 40px;
				}
			}

			&__image {
				margin-top: 0;
				flex: 0 0 calc((400 / 920) * 100%);
				padding: 0;
			}
		}

		.news {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;

			&__title {
				margin-bottom: 0;
				margin-right: 156px;
			}

			&__content {
				.newsList {
					&__item {
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;

						.date {
							margin-bottom: 0;
							margin-right: 27px;
						}

						.link {

							&:hover {
								color: $primary1;

								&:after {
									background-position: right -2px center;
								}
							}
						}
					}
				}
			}
		}

		.column-list {

			&:after {
				top: 64px;
				height: 100%;
			}

			.bx {
				.clbimg {
					padding: 0;

					a {
						width: calc((746 / 1512) * 100%);
					}
				}

				.clbmain {
					margin-top: 0;
					position: absolute;
					top: 50%;
					left: 0;
					@include translateY(-50%);

					.container {
						justify-content: flex-end;
						padding-right: 20px;

						.inner {
							flex: 0 0 415px;
						}

						p {
							margin-top: 33px;
							font-size: 30px;
							min-height: 90px;
							letter-spacing: 1.41px;
							font-weight: 500;
						}

						.action {
							margin-top: 47px;
						}
					}
				}
			}
		}

		.custom-control {
			.container {
				display: flex;
				justify-content: center;
			}
			.inner {
				flex: 0 0 415px;
			}

			.custom-navs {
				.owl-prev,
				.owl-next {
					width: 40px;
					height: 40px;
				}
			}
		}

		.awardLinks {
			& > li {
				margin-bottom: 16px;
			}
		}

		.brand-list {

			.bx {

				.inner {
					&:hover {
						h4 {
							color: $primary1
						}
					}
				}

				h4 {
					margin-top: 32px;
					font-size: 32px;
					line-height: 1.41;
				}
			}

			.owl-nav {
				.owl-prev,
				.owl-next {
					width: 80px;
					height: 80px;
				}

				.owl-prev {
					left: -40px;
				}

				.owl-next {
					right: -40px;
				}
			}
		}
	}

	.page--award {
		padding-top: 82px;

		.kv {
			&:before {
				padding-top: 480px;
				background-image: url('#{$path}/kv-award_pc.jpg');
			}

			.topic {
				text-align: center;
				font-size: 62px;
				line-height: 80px;
			}

			.img-trust {
				width: 263px;
				height: 202px;
			}
		}

		.section {
			&--tab {
				.tab-content {
					margin-top: 44px;
				}
			}
		}

		.tab-content {
			.tb {
				margin-top: 36px;

				.th {
					margin-left: 0;
					margin-right: 0;
					border-radius: 24px;

					dt,
					dd {
						display: block;
						line-height: 48px;
					}
				}

				.td {
					flex-direction: row;
					flex-wrap: nowrap;
					margin-bottom: 0;

					dt {
						margin-bottom: 0;
						text-align: left;
						padding: 18px 8px;
						line-height: 1;

						span {
							line-height: 1.5;
						}
					}

					dd {
						margin-bottom: 0;
						line-height: 1;
						padding: 18px 8px;
						display: flex;
						align-items: center;

						span {
							line-height: 1.5;
							color: $neutralTxt2;
						}

						&:before {
							display: none;
						}
					}
				}
			}

			@each $category, $bgColor, $txtColor in $category_color {
				&.is-#{$category} {

					.tb {
						.th {

							dt {
								background-color: $bgColor;
								color: $txtColor;
							}
						}

						.td {
							dt {
								background-color: #FFFFFF;
								border-bottom: 1px solid $bgColor;
								border-right: 1px solid $bgColor;
								color: #333333;
								border-radius: 0;
							}
							dd {
								border-bottom: 1px solid $bgColor;
								border-right: 1px solid $bgColor;

								&:last-child {
									border-right: none;
								}
							}
						}
					}
				}
			}
		}

		.comingSoon {
			margin: 80px 0 20px;
		}
	}

	.page--lottery {
		padding-top: 82px;

		.kv {
			&:before {
				padding-top: 480px;
				background-image: url('#{$path}/kv-lottery_pc.jpg');
			}

			.topic {
				text-align: center;
				font-size: 62px;
				line-height: 80px;
			}
		}

		.section {
			&--lottery {
				padding-top: 100px;
				padding-bottom: 152px;
			}

			&--prize {
				padding: 64px 0 46px;

				.section__content {
					&:before,
					&:after {
						width: 242px;
						height: 268px;
						top: -293px;
					}

					&:before {
						left: -92px;
					}

					&:after {
						right: -138px;
					}
				}
			}
		}

		.gift {
			padding: 0 111px;

			&__paragraph {

				.thanks {
					text-align: center;
				}
			}

			&__rule {
				.rule {

					dl {
						flex-direction: row;
						flex-wrap: nowrap;
					}

					dt {
						flex: 0 0 calc((224 / 868) * 100%);
						width: calc((224 / 868) * 100%);
					}

					dd {
						flex: 0 0 calc((644 / 868) * 100%);
						width: calc((644 / 868) * 100%);

						p {
							margin-bottom: 16px;
						}
					}
				}
			}
		}

		.prize {

			&__title {
				font-size: 62px;
				line-height: 80px;
				margin-bottom: 56px;
			}

			&__list {
				.prizeList {

					.prizeList__item {
						&--topL,
						&--topC,
						&--topR {
							padding: 22px 0 38px;
							border-bottom: none;
						}

						&--topL,
						&--topR {
							flex-basis: calc((100% - 340px) / 2);
						}

						&--topL {
							padding-right: 40px;
						}

						&--topR {
							padding-left: 40px;
						}

						&--topC {
							flex-basis: 340px;
							border-left: 1px solid #009944;
							border-right: 1px solid #009944;
						}

						&--normal {
							margin-top: 32px;
							padding-top: 30px;
							border-top: 1px solid #009944;

							.prizeItem__laureate {
								.nameList {
									& > li {
										flex: 0 0 12.5%;
										margin-right: 0;
										width: 12.5%;
									}
								}
							}
						}
					}
				}
			}
		}

		.prizeItem {

			&__laureate {
				.label {
					font-size: 18px;
				}

				.nameList {
					justify-content: center;
				}
			}
		}
	}

	.page--survey {
		padding-top: 82px;

		.kv {
			&:before {
				padding-top: 480px;
				background-image: url('#{$path}/kv-survey_pc.jpg');
			}

			.topic {
				text-align: center;
				font-size: 62px;
				line-height: 80px;
			}

			.img-trust {
				width: 263px;
				height: 202px;
			}
		}

		.section {
			&__title {
				h2.title {
					.title__topic,
					.title__subTitle {
						font-size: 62px;
						line-height: 80px;
					}
				}

				.intro {
					margin-top: 25px;
				}
			}

			&--cause {
				padding: 100px 0;

				.section__title {
					flex-direction: row;
					flex-wrap: nowrap;
					margin-bottom: 64px;

					.title {
						flex: 0 0 50%;
						text-align: left;
					}

					.survey-info {
						margin-top: 0;
						flex: 0 0 50%;
						padding-left: 20px;
					}
				}

				.section__content {
					.surveyIntro {
						margin-bottom: 64px;
					}
				}
			}

			&--step {
				padding: 48px 0;
			}

			&--tab {
				padding-top: 100px;

				.section__title {
					margin-bottom: 50px;
					position: relative;

					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 286px;
						height: 318px;
						z-index: -1;
						background-image: url('#{$path}/img-bear_read.png');
						background-size: 286px 318px;
						background-repeat: no-repeat;
						background-position: center;
						right: 0;
						top: -36px;
					}
				}
			}
		}

		.survey-info {
			border-left: 2px solid #009944;
			align-self: center;

			.td {
				flex-direction: row;
				flex-wrap: nowrap;
				margin-bottom: 16px;

				dd {
					margin-left: 32px;
				}
			}
		}

		.surveyIntro {
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: space-between;

			&__title {
				font-size: 32px;
				line-height: 1.41;
				letter-spacing: 1.6px;
				margin-bottom: 0;
				flex: 0 0 38%;
			}

			&__content {
				flex: 0 0 48.7%;
			}
		}

		.chartNotice {
			dl {
				margin-bottom: 24px;
			}
		}

		.mixChart {
			padding-bottom: 64px;

			.tab-view {
				margin-top: 30px;
			}
		}

		.chart {
			padding-top: 87px;

			.bx {
				margin-bottom: 64px;

				&:nth-last-child(2),
				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}
		}

		.tab-view {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			.tabChart {
				width: 50%;
			}

			.chartNotice {
				padding-left: 50px;
				margin-top: 0;
				width: 40%;
				position: absolute;
				left: 50%;
				top: 50%;
				@include translateY(-50%);
			}
		}
	}
}

//Extra Large devices (laptops and desktop)
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.section {
		&--record {
			padding-top: 100px;
			padding-bottom: 100px;

			.container {
				&:after {
					left: 8px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1440px) {

	.container {
		max-width: 1350px;
	}

	.page--index {
		.kv {
			&:before {
				background-image: url('#{$path}/bg_banner-desktop.jpg');
			}
		}

		.section {
			&--flow {

				.container {
					padding: 0 32px;
				}
			}

			&--column {
				.custom-control {
					.container {
						padding-right: 130px;
					}
				}
			}

			&--award {
				.container {
					padding: 0 130px;
				}
			}
		}

		.bulletin {
			&__image {
				flex: 0 0 calc((564 / 1176) * 100%);
			}
		}

		.column-list {
			.bx {
				.clbmain {
					.container {
						padding-right: 130px;
					}
				}
			}
		}
	}

	.page--award {
		.section {
			&--tab {
				.container {
					padding: 0 130px;
				}
			}
		}
	}

	.page--lottery {
		.section {
			&--lottery,
			&--prize {
				.container {
					padding: 0 130px;
				}
			}
		}
	}

	.page--survey {
		.section {
			&--cause,
			&--step {
				.container {
					padding: 0 130px;
				}
			}
			&--tab {
				.section__title {
					&:after {
						right: 155px;
					}
				}
			}
		}

		.mixChart {
			padding-left: 200px;
			padding-right: 200px;
		}
	}
}